<section class="" id="schedule">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Schedule</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<style type="text/css">
.tg1  {border-collapse:collapse;border-spacing:0;}
.tg1 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;
	overflow:hidden;
	word-break:normal;}
.tg1 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg1 .tg-hgcj{font-weight:bold;text-align:center}

.tg1 tr{
	color: black;
}

.tg1 tr:nth-child(even) {
	background-color:#94dbff;
}

.tg1 tr:nth-child(odd){
	background-color:#d4f1ff;
}


				</style>
				<h3>Saturday</h3>
				<table class="tg1">
					<tr>
						<td class="tg-031e">9:00 AM</td>
						<td class="tg-031e">Check in begins</td>
					</tr>
					<tr>
						<td class="tg-031e">10:30 AM</td>
						<td class="tg-031e">API Demos begin</td>
					</tr>
					<tr> <td class="tg-031e">12:00 PM</td>
						<td class="tg-031e">Hacking begins</td>
					</tr>
					<tr>
						<td class="tg-031e">12:30 PM</td>
						<td class="tg-031e">Lunch is served</td>
					</tr>
					<tr>
						<td class="tg-031e">1:30 PM</td>
						<td class="tg-031e">Intro to API's and Databases</td>
					</tr>
					<tr>
						<td class="tg-031e">2:30 PM</td>
						<td class="tg-031e">Special snacks</td>
					</tr>
					<tr>
						<td class="tg-031e">5:00 PM </td>
						<td class="tg-031e">Early dinner</td>
					</tr>
					<tr>
						<td class="tg-031e">6:00 PM</td>
						<td class="tg-031e">Meetup &amp; Fun talk</td>
					</tr>
					<tr>
						<td class="tg-031e">7:00 PM </td>
						<td class="tg-031e">Snacks</td>
					</tr>
					<tr>
						<td class="tg-031e">10:30 PM </td>
						<td class="tg-031e">Late dinner </td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<p>
				<style type="text/css">
.tg2  {border-collapse:collapse;border-spacing:0;}
.tg2 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;overflow:hidden;word-break:normal;}
.tg2 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg2 .tg-hgcj{font-weight:bold;text-align:center}

.tg2 tr{
	color: black;
}

.tg2 tr:nth-child(odd) {
	background-color:#94dbff;
}

.tg2 tr:nth-child(even){
	background-color:#d4f1ff;
}
				</style>
				<h3>Sunday</h3>
				<table class="tg2">
					<tr>
						<td class="tg-031e">12:00 AM</td>
						<td class="tg-031e">T-shirts</td>
					</tr>
					<tr>
						<td class="tg-031e">1:00 AM</td>
						<td class="tg-031e">Snacks</td>
					</tr>
					<tr>
						<td class="tg-031e">5:00 AM</td>
						<td class="tg-031e">More food</td>
					</tr>
					<tr>
						<td class="tg-031e">6:00 AM</td>
						<td class="tg-031e">Hacking ends / Submit your work</td>
					</tr>
					<tr>
						<td class="tg-031e">6:30 AM</td>
						<td class="tg-031e">Move to Welcome Center</td>
					</tr>
					<tr>
						<td class="tg-031e">7:30 AM</td>
						<td class="tg-031e">Setup for Demos</td>
					</tr>
					<tr>
						<td class="tg-031e">8:00 AM</td>
						<td class="tg-031e">Breakfast</td>
					</tr>
					<tr>
						<td class="tg-031e">9:00 AM</td>
						<td class="tg-031e">Demos begin &amp; Judging</td>
					</tr>
					<tr>
						<td class="tg-031e">10:00 AM</td>
						<td class="tg-031e">Closing ceremony</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
