<section class="" id="schedule">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Schedule</h2>
				<hr class="star-primary">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-lg-offset-2">
				<style type="text/css">
.tg1  {border-collapse:collapse;border-spacing:0;}
.tg1 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;
	overflow:hidden;
	word-break:normal;}
.tg1 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg1 .tg-hgcj{font-weight:bold;text-align:center}

.tg1 tr{
	color: black;
}

.tg1 tr:nth-child(even) {
	background-color:#94dbff;
}

.tg1 tr:nth-child(odd){
	background-color:#d4f1ff;
}


				</style>
				<h3>Saturday</h3>
				<table class="tg1">
					<tr>
						<td class="tg-031e">9:00 AM</td>
						<td class="tg-031e">Check in begins near Center Hall</td>
					</tr>
					<tr>
						<td class="tg-031e">9 - 11:00 AM</td>
						<td class="tg-031e">Breakfast in International Lounge</td>
					</tr>
					<tr> <td class="tg-031e">11 AM - 12 PM</td>
						<td class="tg-031e">API Demos in Center Hall</td>
					</tr>
					<tr>
						<td class="tg-031e">12:00 PM</td>
						<td class="tg-031e">Begin hacking &amp; Noobie meetup in Center Hall</td>
					</tr>
					<tr>
						<td class="tg-031e">12:30 PM</td>
						<td class="tg-031e">Lunch &amp; Beginner Coding Talks</td>
					</tr>
					<tr>
						<td class="tg-031e">2:00 PM</td>
						<td class="tg-031e">Prachi's workshop on APIs</td>
					</tr>
					<tr>
						<td class="tg-031e">2:30 PM</td>
						<td class="tg-031e">Snacks!</td>
					</tr>
					<tr>
						<td class="tg-031e">3:00 PM</td>
						<td class="tg-031e">Data Visualization Talk by Luis Alejandro Vega (Bloomberg)</td>
					</tr>
					<tr>
						<td class="tg-031e">4:30 PM</td>
						<td class="tg-031e">Tech Talk #2 </td>
					</tr>
					<tr>
						<td class="tg-031e">5:00 PM</td>
						<td class="tg-031e">More snacks!!</td>
					</tr>
					<tr>
						<td class="tg-031e">6:00 PM</td>
						<td class="tg-031e">Meetup &amp; Salary Negotiation talk Center Hall by Dean Karen Alexander</td>
					</tr>
					<tr>
						<td class="tg-031e">7:00 PM</td>
						<td class="tg-031e">Dinner in International Lounge</td>
					</tr>
					<tr>
						<td class="tg-031e">7:30 PM</td>
						<td class="tg-031e">AT&amp;T Tech Talk</td>
					</tr>
					<tr>
						<td class="tg-031e">9:00 PM</td>
						<td class="tg-031e">Cupcakes &amp; Imposter Syndrome Talk by Elaine</td>
					</tr>
					<tr>
						<td class="tg-031e">10:30 PM</td>
						<td class="tg-031e">Even more snacks!!!</td>
					</tr>
				</table>
			</div>
			<div class="col-lg-4">
				<p>
				<style type="text/css">
.tg2  {border-collapse:collapse;border-spacing:0;}
.tg2 td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:none;overflow:hidden;word-break:normal;}
.tg2 th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
.tg2 .tg-hgcj{font-weight:bold;text-align:center}

.tg2 tr{
	color: black;
}

.tg2 tr:nth-child(odd) {
	background-color:#94dbff;
}

.tg2 tr:nth-child(even){
	background-color:#d4f1ff;
}
				</style>
				<h3>Sunday</h3>
				<table class="tg2">
					<tr>
						<td class="tg-031e">12:00 AM</td>
						<td class="tg-031e">T-shirts in International Lounge</td>
					</tr>
					<tr>
						<td class="tg-031e">1:00 AM</td>
						<td class="tg-031e">Late night meal</td>
					</tr>
					<tr>
						<td class="tg-031e">5:00 AM</td>
						<td class="tg-031e">Really early breakfast</td>
					</tr>
					<tr>
						<td class="tg-031e">6:00 AM</td>
						<td class="tg-031e">Hacking ends / Submit your work</td>
					</tr>
					<tr>
						<td class="tg-031e">6:30 AM</td>
						<td class="tg-031e">Morning walk! to SERC 118 (the best wakeup call)</td>
					</tr>
					<tr>
						<td class="tg-031e">8:00 AM</td>
						<td class="tg-031e">Normal time breakfast</td>
					</tr>
					<tr>
						<td class="tg-031e">8:30 AM</td>
						<td class="tg-031e">Demos begin &amp; Judging</td>
					</tr>
					<tr>
						<td class="tg-031e">10:00 AM</td>
						<td class="tg-031e">Closing ceremony &amp; Winner announcements</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
